 body {
     background: #f5f5f5;
     color: #000000;
     font-family: Arial, Times New Roman;
     font-size: 16px;
 }

 header {
     background: salmon;
     height: 200px;
     width: 100%;
 }

 .left {
     background: orange;
     float: left;
     width: 10%;
     height: 400px;
 }

 .right {
        background: orange;
        float: right;
        width: 20%;
        height: 400px;
    }

 #content {
     background: aqua;
     float: left;
     width: 70%;
     height: 400px;
 }

 #clear {
     clear: both;
 }

 .footerleft {
     background: lavender;
     float: left;
     color: white;
     height: 150px;
     width: 50%;
 }

 .footerright {
     background: dimgray;
     float: right;
     color: white;
     height: 150px;
     width: 50%;
 }